body {
	background: grey
}

.heading{
	color: blue;
	font-size: 22px;
	width: 100%;
	text-align: center;
	float: left;
}

.text {
	color: darkgreen;
	font-size: 14px;
	width: 100%;
	text-align: center;
	float: left;
}